/* Large devices */
@media (max-width: 992.98px){
    #mainNav {
        background-color: white;
        position: static;
    }

    .navbar .navbar-brand{
        color: var(--primary-presto);
    }

    .navbar .nav-item{
        padding: 0 0;
    }

    .navbar.thin .nav-item {
        padding: 0 0;
    }

    .navbar .nav-link{
        color: var(--text-header-contrast);
    }

    .navbar-nav .nav-link.active::after{
        height: 0;
    }
    
    .navbar-nav .nav-link::before {
        height: 0;
    }
   

} 
